<!DOCTYPE html>
<html>
<head>
  <title>TextbookSharing</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="jumbotron" id="header_title">
      <h1>The 5C Textbook Exchange</h1>
      <br>
      <div class="new_entry">
        <% if current_page?(textbooks_path) %>
          <%= link_to "Submit a new Textbook Entry", new_textbook_path %>
        <% end %>
      </div>
    </div>
  </header>

  <div class="content container">
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>

    <%= yield %>
  </div>

</body>
</html>
