<!DOCTYPE html>
<html>
<head>
  <title>TextbookSharing</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="jumbotron" id="header_title">
      <h1>
        <%= link_to "The 5C Textbook Exchange", textbooks_path %>
      </h1>
      <br>
      <div class="new_entry">
        <% if user_signed_in? %>
          <% if current_page?(textbooks_path) %>
            <%= link_to "Submit a new Textbook Entry", new_textbook_path, class: "button btn btn-default" %>
            |
          <% end %>
          <%= link_to "Account", edit_user_registration_path, class: "button btn btn-default" %>
            |
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "button btn btn-default" %>
        <% else %>
          <%= link_to "Sign In", new_user_session_path, class: "button btn btn-default" %>
           |
          <%= link_to "Sign Up", new_user_registration_path, class: "button btn btn-default" %>
        <% end %>
      </div>
    </div>
  </header>

  <div class="content container">
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>

    <%= yield %>
  </div>

</body>
</html>
