<%= div_for textbook, class: "textbook_wrapper" do %> <!-- consider using well -->
  <h2 class="title"><%= textbook.title %></h2>
  <h4 class="author"><%= textbook.author %></h4>
  <p class="isbn"><%= textbook.isbn %></p> <br>
  <p class="price">$<%= sprintf "%.2f", textbook.price %></p> <br>
  <!-- <p class="college"><%= textbook.college %></p> //
  <p class="email"><%= textbook.email %></p> //
  <p class="fblink"><%= textbook.fblink %></p> // -->



  <div class="sold">
    <%= link_to 'Sold', textbook_path(textbook), method: :delete,
    class: "btn btn-sm btn-danger", data: { confirm: 'Are you sure? Entry will be delete.' } %>
  </div>
<% end %>
