<h1>Welcome to the Nav - the Textbook Exchange</h1>

<% @textbooks.each do |textbook| %>
  <div class="textbook_wrapper">
    <h2 class="title"><%= textbook.title %></h2>
    <h4 class="author"><%= textbook.author %></h4>
    <p class="isbn"><%= textbook.isbn %></p>
    <p class="price"><%= textbook.price %></p>
    <p class="college"><%= textbook.college %></p>
    <p class="email"><%= textbook.email %></p>
    <p class="fblink"><%= textbook.fblink %></p>
  </div>
<% end %>
