<!DOCTYPE html>
<html>
<head>
  <title>TextbookSharing</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="jumbotron" id="header_title">
      <h1>
        <%= link_to "The 5C Textbook Exchange", textbooks_path %>
      </h1>
      <br>
      <div class="new_entry">
        <% if user_signed_in? %>
          <% if current_page?(textbooks_path) %>
            <%= link_to "Submit a new Textbook Entry", new_textbook_path, class: "button btn btn-default" %>
            |
          <% end %>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "button btn btn-default" %>
        <% else %>
          <%= link_to "Sign In", user_omniauth_authorize_path(:facebook), class: "button btn btn-default" %>
        <% end %>
      </div>
    </div>
  </header>

  <div class="content container">
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>

    <%= yield %>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=171643419888849";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  </div>

</body>
</html>
